.made-by{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0e0e0e;
    color: #bdbdbd;
}

.made-by:hover{
    color: #fff;
    transition: 300ms;
}

.made-by a{
    text-decoration: none;
}

.made-by a:hover{
    color: rgb(121, 121, 209);
    transition: 300ms;
}
