.made-by{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0e0e0e;
    color: #f3f3f3;
}

.made-by a{
    text-decoration: none;
}

.made-by a:hover{
    color: rgb(121, 121, 209);
    border-bottom: 1px solid rgb(121, 121, 209);
    transition: 300ms;
}
